body{
    margin:0;
}


header{
    height: 40px;
    padding:23px 20px 0 20px;
    display: flex;
    background-color:rgb(255, 255, 255);
    padding-top: 15px;
    position: fixed;
    border-bottom: 1.2px solid black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


.header-list ul{
    margin: 0;
    padding: 0 0;
    list-style: none;
}

.header-list{
    margin-left: auto;
}

.header-logo img{
    display: block;
    padding: 5px 0;
}

.header-list li{
    float: left;
    font-size: 20px;
    font-weight: 10px;
    margin-left: 38px;
}

.header-list li a{
    color: white;
    background-color: rgb(56, 76, 185);
    padding: 5px 20px 3px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.header-list li a:hover{
    background-color: rgba(68, 91, 218, 0.705);
}

.main-home{
    background-color: black;
    background-image: url(img/green-title.jpg);
    background-size: cover;
    position: relative;
    color: white;
    padding: 200px 0; 
    text-align: center;
}

.btn{
    background-color: rgba(0, 100, 0, 0.644);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(58, 57, 57);
}

.btn:hover{
    background-color: rgba(3, 128, 3, 0.644);
}

.main-home h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 50px;
}

.main-home p{
    font-size: 20px;
    margin-bottom: 50px;
}

.main-top-inner{
    padding: 60px 150px 80px 150px;
    background-color: rgb(247, 245, 245);
}

.main-top-inner h3{
    font-size: 30px;
    margin-bottom: 0;
}

.main-top-inner p{
    margin-bottom: 30px;
    margin-left: 0;
    
}

.main-top-inner a{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px 19px;
    font-size: 18px;
}

.main-service h2{
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 30px;
}

.main-service{
    margin: 80px 0px;
}

.main-service img{
    width: 510px;
}

.service{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 130px;
    
}  


.service h3{
    margin: 0;
    margin-left: 0;
}

.service p{
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
}

.service h3,p{
    margin-left: 0px;
    margin-right: 80px;
   
}

.main-news{
    padding: 100px 150px 150px 150px;
    background-color: rgb(247, 245, 245);
    
}

.title{
    display: flex;
    margin-bottom: 30px;
}

.news-title h3{
    margin: 0;
    font-size: 30px;
}

.main-icon {
    margin-left: auto;
}

.main-icon a{
    text-decoration: none;
    font-size: 23px;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 2px 23px;
}

.main-news p{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding:15px 0px 15px 15px;
    border-radius: 4px;
    width: 100%;
    margin: 7px;
}

.blog{
    text-align: center;
    margin: 80px 150px 100px 150px;
}

.blog h2{
    margin-bottom: 60px;
    font-size: 30px;
}

.main-blog img{
    width: 400px;
    display: block;
    margin-left: 10px;
}

.main-blog{
    display: flex;
    justify-content: center;
}

.main-blog p{
    margin: 0 0 50px 0;
    font-size: 15px;
}

.blog a{
    text-decoration: none;
    font-size: 23px;
    background-color: black;
    color: white;
    padding: 2px 20px;
    border-radius: 4px;
}

.main-contact{
    background-color: black;
    border-radius: 20px 20px 0 0;
    color: white;
    text-align: center;
    padding: 60px 60px;
    opacity: 0.9;
}

.main-contact h2{
    font-size: 30px;
    margin: 0;
}
.main-contact p{
    margin-bottom: 50px;
}

footer{
    color: white;
    background-color: black;
    margin: 0;
    border-top: 0.1px solid white;
    opacity: 0.9;
}

input{
    width: 100px;
}

footer small{
    opacity: 0.5;
}

